/* Copyright 2022 Infosys Ltd.Use of this source code is governed by MIT license that can be found in the LICENSE file or athttps://opensource.org/licenses/MIT.*/
.dropdown-item{
    padding-top: 1em;
    border-top-style: solid;
    border-top: 5px;
    border-top-color: black;
}
.clear-button{
    vertical-align: -middle;
}

.adjusttht{
    position: relative;
    top: 1px;
}
.adjustthtlg{
    position: relative;
    top: 5px;
    right: 0px;
}

.navbar.navbar-absolute {
    z-index: 998;
}