<!-- Copyright 2022 Infosys Ltd.Use of this source code is governed by MIT license that can be found in the LICENSE file or athttps://opensource.org/licenses/MIT.-->
<div class="main-content mb-0">
    <div class="row">
        <div class="col-md-12">
            <div class="card mb-0">
                <div class="card-header card-header-primary">
                    <h4 class="card-title">Admin Dashboard</h4>
                </div>
                <div class="card-body MinHeightStyle">
                    <div class="row mb-3">
                        <div class="col-md-12">
                            <mat-tab-group>
                                <mat-tab label="Add or Remove User">
                                    <app-add-user></app-add-user>
                                </mat-tab>
                                <mat-tab label="ITSM User Mapping">
                                    <app-itsm-usermap></app-itsm-usermap>
                                </mat-tab>
                            </mat-tab-group>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>