<!--
    /* Copyright 2022 Infosys Ltd.Use of this source code is governed by MIT license that can be found in the LICENSE file or athttps://opensource.org/licenses/MIT.*/
-->
<div class="main-content pt-1 mt-1">
   
        <div class="row">
            <div class="card mb-1 pb-0">
                <div class="card-body">
                    <div class="col-md-12 ">
                        <div class="row text-justify">
                               
                                <button type="button" class="btn btn-outline-info" (click)="chooseImageDialog()">
                                        <span class="ti-plus"></span>
                                            Click to Train Images
                                    </button>


                        </div>

                        <div class ="row">
                                <div class="col-md-12">
                                    <div *ngIf="uploadSuccess" >
                                            <div class="texting-success ">
                                                <em>
                                                    
                                                    <b>Image Files uploaded successfully!</b>
                            
                                                </em>
                                            </div>
                                        </div>
                                    
                            </div>
                            
                            </div>
                        </div>
                        </div>
                        </div>
                        </div>
                        </div>




