/* Copyright 2022 Infosys Ltd.Use of this source code is governed by MIT license that can be found in the LICENSE file or athttps://opensource.org/licenses/MIT.*/
$bmd-snackbar-bg: #323232 !default;
$bmd-snackbar-color: #fff !default;
$bmd-snackbar-min-width: 280px !default;
$bmd-snackbar-padding: .8rem 1.5rem !default;

$bmd-snackbar-min-width-sm: 100% !default;
