<!--/* Copyright 2022 Infosys Ltd.Use of this source code is governed by MIT license that can be found in the LICENSE file or athttps://opensource.org/licenses/MIT.*/-->
<div class="main-content mb-0">
    <div class="row">
        <div class="col-md-12">
            <div class="card mb-0">
                <div class="card-header card-header-primary">
                    <h4 class="card-title">Micro-Bots</h4>
                </div>
                <div class="card-body MinHeightStyle">
                    <div class="row mb-3">
                        <div class="col-md-12">
                            <mat-tab-group>
                                <mat-tab label="Micro-Bot Management">
                                    <app-script-management></app-script-management>
                                </mat-tab>
                                <mat-tab label="Micro-Bot Mapping">
                                    <app-scripts-mapping></app-scripts-mapping>
                                </mat-tab>
                                <mat-tab label="Resolver Orchestration">
                                    <app-workflow></app-workflow>
                                </mat-tab>
                                <mat-tab label="Micro-Bot Environments">
                                    <app-script-run></app-script-run>
                                </mat-tab>
                            </mat-tab-group>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>