/* Copyright 2022 Infosys Ltd.Use of this source code is governed by MIT license that can be found in the LICENSE file or athttps://opensource.org/licenses/MIT.*/
.wrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
  }
  .content {
    flex: 1;
    overflow: auto;
  }
  ::-webkit-scrollbar {
    width: 10px;
}
/* Track */
::-webkit-scrollbar-track {
    background: #ffffff; 
}
/* Handle */
::-webkit-scrollbar-thumb {
    background: rgb(199, 198, 198); 
    border-radius: 8px;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555; 
}