<!--
  /* Copyright 2022 Infosys Ltd.Use of this source code is governed by MIT license that can be found in the LICENSE file or athttps://opensource.org/licenses/MIT.*/
-->
<div class="main-content">
  <div class="modal-content">
    <div class="modal-header" style="background-color: rgb(75, 172, 198);">
      <h4 class="modal-title" id="modal-basic-title font-weight-bold">
        Diagnostic Scripts</h4>
      <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
        <span aria-hidden="true" style="color:white;">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-12 pl-0">
            <div class="card card-bott">
              <div class="table-wrapper-scroll-y">
                <table class="table table-striped table-hover table-bordered">
                  <tbody>
                    <tr *ngFor="let item of argList">
                      <!-- <td><input type="text" [(ngModel)]="argList[item]" placeholder="item"></td> -->
                      <td><a class="nav-link" data-toggle="collapse" href="#collapse" role="button"
                          (click)="provideArgs(item)">
                          {{item}}
                        </a>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
      <p *ngIf="scriptStatus">
        <ngb-alert [dismissible]="true" [type]="type" (close)="closeAlert()">{{message}}<a data-toggle="collapse"
            href="#collapse" role="button" (click)="showLogs('hi')" style="float: right;padding-right: 40px;">
            Logs
          </a></ngb-alert>
      </p>
    </div>
  </div>
</div>