<!--
    /* Copyright 2022 Infosys Ltd.Use of this source code is governed by MIT license that can be found in the LICENSE file or athttps://opensource.org/licenses/MIT.*/
-->
<div class="container">
    <div class="row">
        <div class="col-lg-3 col-12 3">
            <mat-form-field class="my-3">
                <mat-select (selectionChange)=" PMA_redrawLineGraph($event.value)" placeholder="Select any Category"
                    required [(value)]="selected_field_default">
                    <mat-option *ngFor="let category of filter_columns" [value]="category">{{category}}</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="col-lg-2 col-12 3">
            <mat-form-field class="my-3">
                <mat-select (selectionChange)="getSelectedOptions($event)" placeholder="Select Name" required
                    [(value)]="selected_names" multiple>
                    <mat-option *ngFor="let name of selected_group_list" [value]="name">{{name}}</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="col-lg-2 col-12 3">
            <mat-form-field class="my-3">
                <mat-select required (change)="PMAtypeChanged($event.value)" placeholder="Select Year"
                    [(ngModel)]="selected_year_default">
                    <mat-option *ngFor="let year of year_columns" [value]="year">{{year}}</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="col-lg-2 col-12 3">
            <mat-form-field class="my-3">
                <mat-select placeholder="Select Month" [(ngModel)]="selected_month_default">
                    <mat-option *ngFor="let month of months" [value]="month">{{month}}</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="col-lg-2 col-12 3">
            <div class="my-3">
                <button class="btn btn-outline-secondary btn-sm" (click)="handleClick()" (change)="onChangeDisable()"
                    [disabled]="currentlyDisabled === 'two'">generate</button>
            </div>
        </div>
        <div *ngIf="loading">
            <app-loader></app-loader>
        </div>
        <div class="col-lg-12">
            <div class="row">
                <div class="col-lg-12">
                    <img *ngIf="image_src!==undefined" [src]="image_src" class="img-responsive"
                        style="width: 100%; height:100%" />
                </div>
            </div>
        </div>
    </div>
</div>