/* Copyright 2022 Infosys Ltd.Use of this source code is governed by MIT license that can be found in the LICENSE file or athttps://opensource.org/licenses/MIT.*/
.table label thead{
    font-size:8px;
}
table {
    table-layout: fixed; 
     word-wrap: break-word;
    font-size:12px;
}
