/* Copyright 2022 Infosys Ltd.Use of this source code is governed by MIT license that can be found in the LICENSE file or athttps://opensource.org/licenses/MIT.*/
.app-modal-window .modal-dialog {
  width: 1500px;
  height: 1500px;
}
.mat-elevation-z8 {
  box-shadow: none;
  border: 1px solid #e0e0e0;
  border-radius: 2px;
}
.mat-cell {
  flex: none;
}
.mat-header-cell {
  flex: none;
}